@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.Header{
    font-size: 40px;
    font-family: 'Montserrat';
    color:#efefef;
    background-color: #154979;
    margin: auto 0;
    padding: 20px;
}

